# Python virtual environments & bytecode
.venv/
env/
venv/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Power BI files
*.pbix

# Operating system files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.log
